<html>
    <h1>Generating Emergency Patient Info using FHIR records </h1>
    <p>A prototype API for generating pre-filled documents of patient details</p>
    <body>
        <form action = "/result" method = "POST">
        <p>Patient UUID: <input type = "text" name = "Patient UUID" /></p>
        <p><input type = "submit" name = "word" value = "Generate Word Docuemnt" /></p>
        <p><input type = "submit" name = "pdf" value = "Generate PDF Docuemnt" /></p>
        </form>
    </body>
    
</html>